*{
  
    margin: 0;
    padding: 0;
    font-family: 'Gochi Hand', cursive;
    
}
.container{
    background-color:  #929090;
    background-size:cover;
    background-position: center;
    height: 267px;
    width: 400px;
    margin-top: 100px;
    margin-left: 70px;
    box-shadow: 0px 0px 43px 17px rgb(96, 96, 248);

    
}


.ope1{

    align-items: center;
    display: flex;
     margin-left:20px;
     margin-top: 10px;
}

.ope2{

    align-items: center;
    display: flex;
     margin-left:20px;
     margin-bottom: 20px;
}




.result{

    display:flex;
}
#result{
    width: 397px;
    height: 30px;
}
        
#fnum{
    width: 220px;
    height:30px;
    margin-left:50px;
    background-color:rgb(96, 96, 248);
    font-size: 20px;

}
#lnum{
    width: 220px;
    height:30px;
    margin-top: 10px;
    margin-left:24px;
    background-color:rgb(96, 96, 248);
    font-size: 20px;

}


.post{
    
    margin-top: 40px;
    display: grid;
    align-items: center;
    text-align: center;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr ;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 60px;
   
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color:rgb(85, 85, 255);
    color: white;
    transition: 0.5s ease-in-out;
}

